<a href="https://colab.research.google.com/github/Rupasri0105/23CSBTB30/blob/main/listtypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

mplement Basic Data Structures using Numpy, Pandas
1. Lists
2. Arrays
3. Identify their type using type()
4. Perform mathematical operations on these datasets created - multiplication, division,
poweroff
5. Combine text with Numpy fuction to generate a textual output - ‚ÄùAddition of Two:
array1 +array 2
6. Implement np.sin(), log(), log2(), np.exp())

In [1]:
lst={2:4,5:25,3:9,8:64,6:36}
print(lst)
print(type(lst))

{2: 4, 5: 25, 3: 9, 8: 64, 6: 36}
<class 'dict'>

In [2]:
import numpy as np
lst=(2,4,6,7,8)
print(lst)
print(type(lst))

(2, 4, 6, 7, 8)
<class 'tuple'>

In [3]:
lst=[4,6,7,8,9]
print(lst)
print(type(lst))

[4, 6, 7, 8, 9]
<class 'list'>

In [4]:
lst={1:"Apple",2:"Banana",3:"Orange"}
print(lst)
print(type(lst))

{1: 'Apple', 2: 'Banana', 3: 'Orange'}
<class 'dict'>

In [5]:
lst="welcome to AIML lab"
print(lst)
print(type(lst))

welcome to AIML lab
<class 'str'>

In [6]:
lst=3.4
print(lst)
print(type(lst))

3.4
<class 'float'>

In [7]:
lst=2j+6
print(lst)
print(type(lst))

(6+2j)
<class 'complex'>